ion-card{
    border-radius: 15px;
    box-shadow: 0px 4px 10px #1d1814a6;
    background: #d8d3d26c;
    ion-card-title {
        font-size: 15px;
    }
    .espFonty{
        font-size: 25px;
        text-align: center;
    }
    .justy{
        text-align: justify;
    }
    .cent{
        text-align: center;
    }
    .centetete{
        border-radius: 35px;
        padding: 10px;
    }
}







